@import url("https://fonts.googleapis.com/css?family=Amatic+SC&display=swap");


html {
  min-width: 100%;
  min-height: 100%;
  background-image: url("../images/Profilepics/boys.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

h1{
  font-family: "Amatic SC", cursive;
  font-size: 15vw;
  text-align: center;

}